:root {
    --background: #faf7ef;
    --foreground: #28312f;
    --text: #28312f;
}

body {
    color: var(--text);
    padding-left: 20%;
    padding-right: 20%;
    margin: 0px;
    background-color: var(--background);
    color: var(--text);
}

.separator {
    height: 5px;
    background-color: var(--foreground);
}
